@import '../../../styles.scss';

.header{
  background-color: $blackSecondary;
  display: grid;
  grid-template-columns: 1fr;
  a{
    cursor: pointer;
  }
  .home{
    padding-left: 10px;
  }
  .logo{
    display: grid;
    place-self: center;
  }
  span{
    color: $whitePrimary;
  }
}
