@import '../styles.scss';


.container{
  overflow: hidden;
  background-image: url(../assets/images/pattern.png);
  height: 100%;
  display: grid;
  grid-template-rows: 24px 1fr 35px;
}


.main{
  overflow: auto;
  height: 100%;
  width: 100%;
}



