@import '../styles.scss';

app-header{
  position: fixed;
  width:100%;
}

app-footer{
  position: fixed;
  bottom: 0;
  width:100%;
}

.container{
  background-image: url(../assets/images/pattern.png);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}
