/* Website theme (Master ball) */

$purplePrimary: #362d5c;
$whitePrimary: #f1faee;
$whiteSecondary: #e9f0e8;
$pinkPrimary: #a25c7e;
$graySoft: #8984a4;
$graySecondary: #cbcbc9;
$blackPrimary: #383330;

/* Pokemon Types */

$bugColor: #a8b820;
$bugColorDark: #6d7815;
$bugColorLight: #c6d16e;

$darkColor: #705848;
$darkColorDark: #49392f;
$darkColorLight: #a29288;

$dragonColor: #7038f8;
$dragonColorDark: #4924a1;
$dragonColorLight: #a27dfa;

$electricColor: #f8d030;
$electricColorDark: #a1871f;
$electricColorLight: #fae078;

$fairyColor: #ee99ac;
$fairyColorDark: #9b6470;
$fairyColorLight: #f4bdc9;

$fightingColor: #c03028;
$fightingColorDark: #7d1f1a;
$fightingColorLight: #d67873;

$fireColor: #f08030;
$fireColorDark: #9c531f;
$fireColorLight: #f5ac78;

$flyingColor: #a890f0;
$flyingColorDark: #6d5e9c;
$flyingColorLight: #c6b7f5;

$ghostColor: #705898;
$ghostColorDark: #493963;
$ghostColorLight: #a292bc;

$grassColor: #78c850;
$grassColorDark: #4e8234;
$grassColorLight: #a7db8d;

$groundColor: #e0c068;
$groundColorDark: #927d44;
$groundColorLight: #ebd69d;

$iceColor: #98d8d8;
$iceColorDark: #638d8d;
$iceColorLight: #bce6e6;

$normalColor: #a8a878;
$normalColorDark: #6d6d4e;
$normalColorLight: #c6c6a7;

$poisonColor: #a040a0;
$poisonColorDark: #682a68;
$poisonColorLight: #c183c1;

$psychicColor: #f85888;
$psychicColorDark: #a13959;
$psychicColorLight: #fa92b2;

$rockColor: #b8a038;
$rockColorDark: #786824;
$rockColorLight: #d1c17d;

$steelColor: #b8b8d0;
$steelColorDark: #787887;
$steelColorLight: #d1d1e0;

$waterColor: #6890f0;
$waterColorDark: #445e9c;
$waterColorLight: #9db7f5;
