<div class="container" *ngIf="data">
  <div class="card">

    <div class="card_title">
      <p>{{data?.name}} #{{ data?.number }}</p>
      <p></p>
    </div>

    <div class="card_image">
      <img src="{{ data?.image }}"/>
    </div>

    <div class="card_types" >
      <div class="type_name">
        <p [ngClass]="data?.type[0]">{{ data?.type[0] }}</p>
      </div>
      <ng-container *ngIf="data?.type.length > 1">
        <div class="type_name">
          <p [ngClass]="data?.type[1]">{{ data?.type[1] }}</p>
        </div>
      </ng-container>
    </div>

  </div>
</div>
