@import '../../../styles.scss';

$scaleFactor: 1.1;

.dialog{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;

}

.background{
  background-color: blue;
}



.dialog_card{
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 60px 45% 45%;
  .dialog_card_title{
    display: grid;
    padding: 25px 0px 0px 0px;
    p{
      font-size: 1.35rem;
    }
  }
  .dialog_card_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   img{
    height: 350px;
    width: 350px;
   }
  }
  .dialog_card_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 25px 0px 25px;
  }
}

.bug{
  background-color: $bugColor;
}
.dark{
  background-color: $darkColor;
}
.dragon{
  background-color: $dragonColor;
}
.electric{
  background-color: $electricColor;
}
.fairy{
  background-color: $fairyColor;
}
.fighting{
  background-color: $fightingColor;
  color: $whitePrimary;
}
.fire{
  background-color: $fireColor;
}
.flying{
  background-color: $flyingColor;
}
.ghost{
  background-color: $ghostColor;
  color: $whitePrimary;
}
.grass{
  background-color: $grassColor;
}
.ground{
  background-color: $groundColor;
}
.ice{
  background-color: $iceColor;
}
.normal{
  background-color: $normalColor;
}
.poison{
  background-color: $poisonColor;
  color: $whitePrimary;
}
.psychic{
  background-color: $psychicColor;
}
.rock{
  background-color: $rockColor;
}
.steel{
  background-color: $steelColor;
}
.water{
  background-color: $waterColor;
}
