@import '../../../styles.scss';

$scaleFactor: 1.1;

.container{
  margin: 50px 0px 50px 0px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  :hover{
    transform: scale($scaleFactor);
  }
}


.card{
  height: 250px;
  width: 250px;
  display: grid;
  place-items: center;
  .card_content{
    font-family: 'Press Start 2P', cursive;
    pointer-events: none;
  }
  .card_image{
    pointer-events: none;
   img{
    height: 150px;
    width: 150px;
   }
   a{
     cursor:pointer;
   }
  }
  .card_title{
    p{
      pointer-events: none;
      font-family: 'Press Start 2P', cursive;
      cursor: default;
    }
  }
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
  0 2px 2px rgba(0,0,0,0.15),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.15);
}

.content{
  margin-top: 20px;
  display: grid;
  place-items: center;
  h3{
    color: $blackPrimary;
  }
}


.type_name{
  font-family: 'Press Start 2P', cursive;
  pointer-events: none;
  p{
    border-radius: 46px;
    font-size: 0.7rem;
  }
  .bug{
    background-color: $bugColor;
  }
  .dark{
    background-color: $darkColor;
  }
  .dragon{
    background-color: $dragonColor;
  }
  .electric{
    background-color: $electricColor;
  }
  .fairy{
    background-color: $fairyColor;
  }
  .fighting{
    background-color: $fightingColor;
  }
  .fire{
    background-color: $fireColor;
  }
  .flying{
    background-color: $flyingColor;
  }
  .ghost{
    background-color: $ghostColor;
  }
  .grass{
    background-color: $grassColor;
  }
  .ground{
    background-color: $groundColor;
  }
  .ice{
    background-color: $iceColor;
  }
  .normal{
    background-color: $normalColor;
  }
  .poison{
    background-color: $poisonColor;
  }
  .psychic{
    background-color: $psychicColor;
  }
  .rock{
    background-color: $rockColor;
  }
  .steel{
    background-color: $steelColor;
  }
  .water{
    background-color: $waterColor;
  }

}

.card_types{
  pointer-events: none;
  display: flex;
}
