@import "../../../styles.scss";

$scaleFactor: 1.1;


.content {
  margin-top: 25px;
  display: grid;
  place-items: center;
  h3 {
    color: $blackPrimary;
  }
}

.container {
  margin: 35px 35px 50px 35px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  :hover {
    transform: scale($scaleFactor);
  }
}

.card {
  background: linear-gradient(180deg, $redPrimary 46%,  $blackSecondary 46%, $blackSecondary 52%, #f9f9f9 52%);
  height: 300px;
  width: 300px;
  .card_box {
    display: grid;
    place-items: center;
    grid-template-rows: 30px 157px 50px;
    padding: 45px 0 16px 0;
  }
  .card_content {
    font-family: "Press Start 2P", cursive;
    pointer-events: none;
  }
  .card_image {
    pointer-events: none;
    img {
      height: 150px;
      width: 150px;
    }
    a {
      cursor: pointer;
    }
  }
  .card_title {
    p {
      pointer-events: none;
      font-family: "Press Start 2P", cursive;
      cursor: default;
    }
  }
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%), 0 2px 2px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%),
    0 8px 8px rgb(0 0 0 / 15%);
  border-radius: 50%;
}


.type_name {
  font-family: "Press Start 2P", cursive;
  pointer-events: none;
  p {
    padding: 0 5px;
    border-radius: 46px;
    font-size: 0.7rem;
  }
  .bug {
    background-color: $bugColor;
  }
  .dark {
    background-color: $darkColor;
  }
  .dragon {
    background-color: $dragonColor;
  }
  .electric {
    background-color: $electricColor;
  }
  .fairy {
    background-color: $fairyColor;
  }
  .fighting {
    background-color: $fightingColor;
    color: $whitePrimary;
  }
  .fire {
    background-color: $fireColor;
  }
  .flying {
    background-color: $flyingColor;
  }
  .ghost {
    background-color: $ghostColor;
    color: $whitePrimary;
  }
  .grass {
    background-color: $grassColor;
  }
  .ground {
    background-color: $groundColor;
  }
  .ice {
    background-color: $iceColor;
  }
  .normal {
    background-color: $normalColor;
  }
  .poison {
    background-color: $poisonColor;
    color: $whitePrimary;
  }
  .psychic {
    background-color: $psychicColor;
  }
  .rock {
    background-color: $rockColor;
  }
  .steel {
    background-color: $steelColor;
  }
  .water {
    background-color: $waterColor;
  }
}

.card_types {
  pointer-events: none;
  display: flex;
}

.loading {
  display: grid;
  place-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0000008f;
  top: 0;
}


@media screen and (max-width: 500px){
  .loading{
    .loading_animation{
      img{
        width: 90%;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width:300px){
  .card{
    height: 300px;
    width: 275px;
    margin-right: 92px;
  }
}
