<div class="content">
  <h3>Procure pelo pokemon</h3>
  <div class="search">
    <input type="text" placeholder="Pikachu" #box />
  </div>
</div>

<div class="container" *ngIf="pokemons">
  <div class="card" *ngFor="let pokemon of pokemons | slice: 1">

    <div class="card_title">
      <p>{{pokemon?.name}} #{{ pokemon?.number }}</p>
      <p>{{pokemon?.height}} #{{ pokemon?.ability[0] }}</p>
    </div>

    <div class="card_image">

      <a (click)="openPokemon(pokemon)" ><img src="{{ pokemon?.image }}" /></a>
    </div>

    <div class="card_types" >
      <div class="type_name">
        <p [ngClass]="pokemon?.type[0]">{{ pokemon?.type[0] }}</p>
      </div>
      <ng-container *ngIf="pokemon?.type.length > 1">
        <div class="type_name">
          <p [ngClass]="pokemon?.type[1]">{{ pokemon?.type[1] }}</p>
        </div>
      </ng-container>
    </div>

  </div>
</div>
