@import '../../../styles.scss';

.footer{
  height: 35px;
  display: grid;
  place-items: center;
  background-color: $blackSecondary;
  p{
    padding-right: 10px;
    color: $whitePrimary;
  }
  a{
    text-decoration: none;
    color: $whitePrimary !important;
  }
}
